@media (min-width: 576px) {
  #heading {
    top: 50px;
    font-size: 40px !important; }
    #heading #pages {
      margin-bottom: 180px; }
      #heading #pages a {
        font-size: 40px;
        margin: 40px !important; }

  #socials {
    justify-content: space-evenly !important;
    font-size: 40px !important;
    width: 50%;
    margin: 0 auto; }

  #form {
    display: flex; }

  #form-text {
    width: 30%;
    margin: 0 40px; }

  #projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    #projects .project-card {
      width: 35vw; }
    #projects img {
      width: 100%; }

  #get-in-touch {
    margin-right: 30px; }

  #pages {
    font-size: 30px !important; } }
@media (min-width: 992px) {
  .project-card {
    width: 25vw !important; } }
a {
  text-decoration: none; }

* {
  color: white; }

html {
  overflow-x: clip; }

body {
  width: 100vw;
  height: 100vh;
  overflow-x: clip;
  background: rgba(0, 0, 0, 0.95); }

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow-x: hidden; }

@keyframes hide {
  from {
    transform: rotate(-40deg) translate3d(360px, 0, 0);
    opacity: 0.8; }
  to {
    transform: rotate(-40deg) translate3d(-360px, 0, 0);
    opacity: 0; } }
#heading {
  top: 30px;
  margin: 0 50px;
  font-size: 20px;
  position: absolute;
  text-align: center;
  filter: drop-shadow(0 0 0.95rem blue); }
  #heading #pages {
    width: 80vw;
    font-size: 22px;
    text-align: center;
    padding-bottom: 20px;
    line-height: 50px;
    filter: drop-shadow(0 0 0.95rem blue); }
    #heading #pages a {
      margin: 5px; }
    #heading #pages :hover {
      filter: drop-shadow(0 0 0.95rem blue); }
  #heading #socials {
    display: flex;
    margin-top: 0px;
    justify-content: space-around;
    font-size: 20px; }
    #heading #socials :hover {
      filter: drop-shadow(0 0 0.95rem blue); }

#scroll {
  font-size: 28px;
  position: absolute;
  bottom: 0;
  color: white;
  text-align: center;
  margin-bottom: 20px; }
  #scroll span {
    font-size: 30px; }

#section-container {
  margin: 50px auto 0 auto;
  padding-bottom: 20px;
  text-align: center;
  max-width: 95vw; }
  #section-container h2 {
    font-size: 35px; }

#projects {
  margin: 0 10px; }
  #projects .project-card {
    font-size: 20px;
    margin-bottom: 30px;
    background-color: #0c0c0c;
    border: 1px solid white;
    overflow: hidden;
    border-radius: 15px; }
    #projects .project-card img {
      width: 100%; }
    #projects .project-card span {
      vertical-align: top; }

#form {
  margin: 30px 0; }
  #form #form-text {
    width: 100%;
    font-size: 20px;
    line-height: 15px; }
  #form #get-in-touch {
    width: 100%;
    height: 100%; }
    #form #get-in-touch input, #form #get-in-touch textarea {
      border: 1px solid black;
      display: block;
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 10px;
      padding-bottom: 10px;
      background-color: gray; }
      #form #get-in-touch input::placeholder, #form #get-in-touch textarea::placeholder {
        color: white; }
    #form #get-in-touch #first-last-name {
      display: flex;
      width: 100%; }
    #form #get-in-touch #submit-button {
      width: 15vw; }

textarea {
  resize: none; }

#back-to-top {
  font-size: 28px; }
  #back-to-top span {
    font-size: 30px; }

/*# sourceMappingURL=styles.css.map */
