@media (min-width: 576px) {
    #sidebar-button-open, #sidebar-button-close, #sidebar { 
        display: none !important;
    }
    #top-nav {
        display: flex !important;
    }
    #heading {
        font-size: 30px !important;
    }
    #socials {
        justify-content: space-evenly !important;
        font-size: 40px !important;
        width: 50%;
        margin: 0 auto;
    }
    #scroll {
        bottom: 0 !important;
    }
    #form {
        display: flex;
    }
    #form-text {
        width: 30%;
        margin: 0 40px;
    }
    #projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .project-card {
            width: 35vw;
        }
        img {
            width: 100% ;
        }
    }
    #get-in-touch {
        margin-right: 30px;
    }
    #top-nav {
        top: 0vh;
        position: fixed;
        a {
            font-size: 20px;
            margin: 30px;
        }
    }
    #socials {
        width: 375.594px;
    }
}   


@media (min-width: 992px) {
    .project-card {
        width: 25vw !important;
    }
} 