@media (min-width: 576px) {
    #form {
        display: flex !important;
    }
    #form-text {
        width: 30% !important;
    }
    #projects {
        display: flex;
        .project-card {
            max-width: 35vw;
        }
    }
}   


@media (min-width: 992px) {
    .project-card {
        max-width: 25vw !important;
    }
} 