@import "breakpoints";



body {
  background-color: black;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 3px 2px 1px 0px rgb(255, 255, 255);

    }
    to {
        box-shadow: 6px 4px 2px 1px rgb(52, 18, 204);

    }
}








a {
    text-decoration: none;
}

* {
    color: white;
}

html {
    overflow-x: clip;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: clip;
    background: rgba(0, 0, 0, 0.95);
}

#wrapper {
    overflow-x: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

@keyframes hide {
    from {
        transform: rotate(-40deg) translate3d(360px, 0, 0);
        opacity: 0.8;
    }
    to {
        transform: rotate(-40deg) translate3d(-360px, 0, 0);
        opacity: 0;
    }
}


#heading {
    top: 30px;
    margin: 0 50px;
    font-size: 17px;
    position: absolute;
    text-align: center;
    filter: drop-shadow(0 0 0.95rem blue);
    #pages {
        text-wrap: wrap;
        width: 80vw;
        font-size: 18px;
        text-align: center;
        padding-bottom: 20px;
        line-height: 50px;
        a {
            margin: 5px;
            text-wrap: nowrap;

        }
        filter: drop-shadow(0 0 0.95rem blue);
        :hover {
            filter: drop-shadow(0 0 0.95rem blue);
        }
    }
    #socials {
        display: flex;
        margin-top: 0px;
        justify-content: space-around;
        font-size: 20px;
        :hover {
            filter: drop-shadow(0 0 0.95rem blue);
        }
    }

}

#scroll {
    font-size: 25px;
    position: absolute;
    bottom: 35px;
    color: white;
    text-align: center;
    margin-bottom: 40px;
    span {
        font-size: 30px;
    }
}


#section-container {
    margin: 50px auto 0 auto;
    padding-bottom: 20px;
    text-align: center;
    max-width: 95vw;
    h2 {
        font-size: 35px;
    }
}


#projects {
    margin: 0 10px;
    .project-card {
        font-size: 20px;
        margin-bottom: 30px;
        background-color: rgb(12, 12, 12);
        border: 1px solid white;
        overflow: hidden;
        border-radius: 15px;
        img {
            width: 100%;
        }
        span {
            vertical-align: top;
        }
    }

}


#form {
    margin: 30px 0;
    #form-text {
        width: 100%;
        font-size: 20px;
        line-height: 15px;
    }
    #get-in-touch {
        width: 100%;
        height: 100%;
        input, textarea {
            border: 1px solid black;
            display: block;
            width: 100%;
            box-sizing: border-box;
            margin-bottom: 10px;
            padding-bottom: 10px;
            background-color: gray;
            &::placeholder {
                color: white;
            }
        }
        #first-last-name {
            display: flex;
            width: 100%;
        }
        #submit-button {
            width: 15vw;
        }
    }
}



textarea {
    resize: none;
  }


  #back-to-top {
    font-size: 28px;
    span {
        font-size: 30px;
    }
  }